
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Local Netlify folder
.netlify

/node_modules

.env
# parking-app-c8a09-firebase-adminsdk-id81w-efb3deb0e2.json